.header-three {
    font-size: 28px;
    margin-bottom: 20px;
}

.section-three {
    padding: 60px 0;
}

.section-three-header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 42px;
}

.section-three-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 60px;
}

.section-three-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.section-three-list-item {
    width: 100%;
    padding: 18px 17px;
    border: 11px solid #ffe550;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.section-three-product-name {
    position: absolute;
    background-color: rgba(187, 243, 48, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px #000;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    font-size: 32px;
}

.section-three-list-item:hover .section-three-product-name {
    opacity: 1;
    transform: scale(1);
}

.section-three-list-item:hover {
    border-color: #bbf330;
}

@media screen and (min-width: 768px) {
    .header-three {
            font-size: 42px;
            margin-bottom: 20px;
        }

    .section-three {
            padding: 100px 0;
        }

    .section-three-text {
        margin-bottom: 60px;
        font-size: 16px;
    }

    .section-three-list {
        gap: 32px;
    }
    
    .section-three-list-item {
        width: calc((100% - 32px) / 2);
        border: 14px solid #ffe550;
        padding: 21px 20px;
        }

    .section-three-product-name {
        font-size: 46px;
    }
}

@media screen and (min-width: 1280px) {
    .header-three {
            font-size: 18px;
            margin-bottom: 16px;
        }

    .section-three-text {
        margin-bottom: 40px;
    }

    .section-three-text {
        margin-bottom: 40px;
    }

    .section-three-list-item {
        width: calc((100% - 64px) / 3);
        border: 16px solid #ffe550;
        padding: 0;
        height: 397px;
    }
}